openapi: 3.1.0
info:
  title: Otim API
  description: The API docs for Otim
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://api.otim.com
    description: Production server
paths:
  /auth/login:
    post:
      description: Log in a user using SIWE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLoginRequest'
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthLoginResponse'
  /auth/logout:
    post:
      description: Log out a user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties: {}
  /config/chains:
    get:
      description: Get list of supported chains
      responses:
        '200':
          description: Chain list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                    items:
                      type: object
                      properties:
                        chainId:
                          type: integer
                          format: int64
                          example: 11155111
                        chainName:
                          type: string
                          example: "sepolia"
  /config/delegate/address/{chainId}:
    get:
      description: Get delegate address for a specific chain in the supported chains list
      parameters:
        - name: chainId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            description: Chain ID
      responses:
        '200':
          description: Delegate address retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDelegateAddressResponse'
  /config/instruction_storage/address/{chainId}:
    get:
      description: Get instruction Storage address for a specific chain in the supported chains list
      parameters:
        - name: chainId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            description: Chain ID
      responses:
        '200':
          description: Instruction Storage address retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstructionStorageAddressResponse'
  /delegation/new:
    post:
      description: Create a new delegation to Otim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewDelegationRequest'
      responses:
        '201':
          description: Delegation created successfully
  /delegation/status:
    get:
      description: Get Otim delegation status
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDelegationStatusRequest'
      responses:
        '200':
          description: Delegation status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDelegationStatusResponse'
  /instruction/build:
    post:
      description: Build an Otim instruction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildInstructionRequest'
      responses:
        '200':
          description: Instruction built successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildInstructionResponse'
  /instruction/new:
    post:
      description: Activate a built Otim instruction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewInstructionRequest'
      responses:
        '201':
          description: Instruction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewInstructionResponse'
  /instruction/deactivate:
    post:
      description: Deactivate an instruction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeactivationRequest'
      responses:
        '200':
          description: Instruction deactivated successfully
  /instruction/details:
    get:
      description: Get details about an instruction by its ID
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetInstructionDetailsRequest'
      responses:
        '200':
          description: Instruction details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstructionDetailsResponse'
  /instructions/all:
    get:
      description: Get all instructions and their details for a user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllInstructionsRequest'
      responses:
        '200':
          description: Instructions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoredInstruction'
  /instructions/chain:
    get:
      description: Get instructions for a user specific chain by user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetChainInstructionsRequest'
      responses:
        '200':
          description: Chain instructions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoredInstruction'
  /instructions/summary:
    get:
      description: Get instruction execution summaries for a list of instructions
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetInstructionSummariesRequest'
      responses:
        '200':
          description: Instruction summaries retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstructionSummariesResponse'
  /transactions:
    get:
      description: Get transactions for a user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTransactionsRequest'
      responses:
        '200':
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoredTransaction'
  /instruction/estimate/max_priority_fee_per_gas/{chainId}:
    get:
      description: Get max priority fee per gas estimates for a specified chain
      security:
        - bearerAuth: []
      parameters:
        - name: chainId
          in: path
          required: true
          schema:
            type: integer
            format: uint64
            description: Chain ID to get estimates for
      responses:
        '200':
          description: Priority fee estimates retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriorityFeeEstimatesResponse'

components:
  schemas:
    TokenFee:
      type: string
      description: Available fee tokens to use
      enum:
        - ETH
        - USDC
      example: "ETH"
    OtimFee:
      type: object
      required:
        - token
        - maxBaseFeePerGas
        - maxPriorityFeePerGas
        - executionFee
      properties:
        token:
          type: string
          format: address
          description: Address of the token used for fee payment
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        maxBaseFeePerGas:
          type: integer
          format: uint256
          description: Maximum base fee per gas (in wei, set to `0` to take network base fee at execution time)
          example: 0
        maxPriorityFeePerGas:
          type: integer
          format: uint256
          description: Maximum base fee per gas (in wei)
          example: 15000000000
        executionFee:
          type: integer
          format: uint256
          description: Execution fee (set to `0` since this field isn't being utilized yet)
          example: 0
    IntervalSchedule:
      type: object
      required:
        - startAt
        - startBy
        - interval
        - timeout
      properties:
        startAt:
          type: integer
          format: uint256
          description: Unix timestamp to activate the action (set to `0` for immediate start)
          example: 1716150000
        startBy:
          type: integer
          format: uint256
          description: Unix timestamp by which the action must be activated (set to `0` for no deadline)
          example: 1716150000
        interval:
          type: integer
          format: uint256
          description: Interval between action executions (in seconds)
          example: 3600
        timeout:
          type: integer
          format: uint256
          description: Timeout after which the execution is not valid (in seconds, set to `0` for no timeout)
          example: 3600
    ActionArguments:
      type: object
      oneOf:
        - title: RefuelERC20
          type: object
          required:
            - refuelERC20
          properties:
            refuelERC20:
              type: object
              required:
                - token
                - target
                - threshold
                - endBalance
                - fee
              properties:
                token:
                  type: string
                  format: address
                  description: Address of the token to refuel
                  example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
                target:
                  type: string
                  format: address
                  description: Address of the target to refuel
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                threshold:
                  type: integer
                  format: uint256
                  description: Threshold amount to trigger refuel
                  example: 1000000000000000000
                endBalance:
                  type: integer
                  format: uint256
                  description: Target balance after refuel
                  example: 2000000000000000000
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: Refuel
          type: object
          required:
            - refuel
          properties:
            refuel:
              type: object
              required:
                - target
                - threshold
                - endBalance
                - fee
              properties:
                target:
                  type: string
                  format: address
                  description: Address of the target to refuel
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                threshold:
                  type: integer
                  format: uint256
                  description: Threshold amount to trigger refuel
                  example: 1000000000000000000
                endBalance:
                  type: integer
                  format: uint256
                  description: Target balance after refuel
                  example: 2000000000000000000
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: TransferERC20
          type: object
          required:
            - transferERC20
          properties:
            transferERC20:
              type: object
              required:
                - token
                - recipient
                - amount
                - fee
              properties:
                token:
                  type: string
                  format: address
                  description: Address of the token to transfer
                  example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
                recipient:
                  type: string
                  format: address
                  description: Address of the recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                amount:
                  type: integer
                  format: uint256
                  description: Amount of token to transfer
                  example: 1000000000000000000
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: Transfer
          type: object
          required:
            - transfer
          properties:
            transfer:
              type: object
              required:
                - recipient
                - amount
                - fee
              properties:
                recipient:
                  type: string
                  format: address
                  description: Address of the recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                amount:
                  type: integer
                  format: uint256
                  description: Amount to transfer
                  example: 1000000000000000000
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: SweepDepositAccount
          type: object
          required:
            - sweepDepositAccount
          properties:
            sweepDepositAccount:
              type: object
              required:
                - depositor
                - recipient
                - threshold
                - fee
              properties:
                depositor:
                  type: string
                  format: address
                  description: Address of the depositor
                  example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
                recipient:
                  type: string
                  format: address
                  description: Address of the recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                threshold:
                  type: integer
                  format: uint256
                  description: Threshold amount to trigger sweep
                  example: 1000000000000000000
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: SweepDepositAccountERC20
          type: object
          required:
            - sweepDepositAccountERC20
          properties:
            sweepDepositAccountERC20:
              type: object
              required:
                - token
                - depositor
                - recipient
                - threshold
                - fee
              properties:
                token:
                  type: string
                  format: address
                  description: Address of the token to sweep
                  example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
                depositor:
                  type: string
                  format: address
                  description: Address of the depositor
                  example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
                recipient:
                  type: string
                  format: address
                  description: Address of the recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                threshold:
                  type: integer
                  format: uint256
                  description: Threshold amount to trigger sweep
                  example: 1000000000000000000
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: UniswapV3ExactInput
          type: object
          required:
            - uniswapV3ExactInput
          properties:
            uniswapV3ExactInput:
              type: object
              required:
                - tokenIn
                - tokenOut
                - amountIn
                - floorAmountOut
                - meanPriceLookBack
                - maxPriceDeviationBPS
                - recipient
                - fee
              properties:
                tokenIn:
                  type: string
                  format: address
                  description: Address of the input token
                  example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
                tokenOut:
                  type: string
                  format: address
                  description: Address of the output token
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                amountIn:
                  type: integer
                  format: uint256
                  description: Amount of input token to swap
                  example: 1000000000000000000
                floorAmountOut:
                  type: integer
                  format: uint256
                  description: Minimum amount of output token to receive
                  example: 1000000000000000000
                meanPriceLookBack:
                  type: integer
                  format: uint32
                  description: Number of blocks to look back for mean price calculation
                  example: 100
                maxPriceDeviationBPS:
                  type: integer
                  format: uint32
                  description: Maximum price deviation in basis points
                  example: 100
                recipient:
                  type: string
                  format: address
                  description: Address of the recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                fee:
                  $ref: '#/components/schemas/OtimFee'
      discriminator:
        propertyName: type
        mapping:
          refuelERC20: '#/components/schemas/ActionArguments/oneOf/0'
          refuel: '#/components/schemas/ActionArguments/oneOf/1'
          transferERC20: '#/components/schemas/ActionArguments/oneOf/2'
          transfer: '#/components/schemas/ActionArguments/oneOf/3'
          sweepDepositAccount: '#/components/schemas/ActionArguments/oneOf/4'
          sweepDepositAccountERC20: '#/components/schemas/ActionArguments/oneOf/5'
          uniswapV3ExactInput: '#/components/schemas/ActionArguments/oneOf/6'
    PrimitiveSignature:
      type: object
      properties:
        yParity:
          type: number
          description: Y parity of the signature
          enum: 
            - 0
            - 1
          example: 0
        r:
          type: string
          format: bytes
          description: R of the signature
          example: "0x..."
        s:
          type: string
          format: bytes
          description: S of the signature
          example: "0x..."
    StoredSignature:
      type: object
      properties:
        v:
          type: number
          description: V of the signature
          enum:
            - 27
            - 28
          example: 27
        r:
          type: string
          format: bytes
          description: R of the signature
          example: "0x..."
        s:
          type: string
          format: bytes
          description: S of the signature
          example: "0x..."
    Instruction:
      type: object
      properties:
        salt:
          type: integer
          format: uint64
          description: Salt to ensure instruction is unique
          example: 1234567890
        maxExecutions:
          type: integer
          format: uint64
          description: Maximum number of times this instruction can be executed (`0` for unlimited)
          example: 10
        action:
          type: string
          format: address
          description: Action contract address
          example: "0x838c90f3e8d4892dCfA67721CbbA7C86D3C059ef"
        arguments:
          type: string
          format: bytes
          description: Arguments to execute on the action contract
          example: "0x0000000000000000000000001c7d4b196cb0c7b01d743fbc6116a902379c72380000000000000000000000000a0Ee7A142d267C1f36714E4a8F75612F20a79720000000000000000000000000a0Ee7A142d267C1f36714E4a8F75612F20a79720000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
    BuildInstructionRequest:
      type: object
      required:
        - address
        - chainId
        - salt
        - maxExecutions
        - action
        - actionArguments
      properties:
        address:
          type: string
          format: address
          description: Address of the user
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        chainId:
          type: integer
          format: uint64
          description: Chain ID
          example: 11155111
        salt:
          type: integer
          format: uint64
          description: Salt to ensure instruction is unique
          example: 1234567890
        maxExecutions:
          type: integer
          format: uint64
          description: Maximum number of times this instruction can be executed (`0` for unlimited)
          example: 10
        actionArguments:
          $ref: '#/components/schemas/ActionArguments'
    BuildInstructionResponse:
      $ref: '#/components/schemas/Instruction'
    NewInstructionRequest:
      type: object
      required:
        - address
        - chainId
        - salt
        - maxExecutions
        - action
        - arguments
        - activationSignature
      properties:
        address:
          type: string
          format: address
          description: Address of the user
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        chainId:
          type: integer
          format: uint64
          description: Chain ID
          example: 11155111
        salt:
          type: integer
          format: uint64
          description: Salt to ensure instruction is unique
          example: 1234567890
        maxExecutions:
          type: integer
          format: uint64
          description: Maximum number of times this instruction can be executed (`0` for unlimited)
          example: 10
        action:
          type: string
          format: address
          description: Action contract address
          example: "0x838c90f3e8d4892dCfA67721CbbA7C86D3C059ef"
        arguments:
          type: string
          format: bytes
          description: Arguments to execute on the action contract
          example: "0x0000000000000000000000001c7d4b196cb0c7b01d743fbc6116a902379c72380000000000000000000000000a0Ee7A142d267C1f36714E4a8F75612F20a79720000000000000000000000000a0Ee7A142d267C1f36714E4a8F75612F20a79720000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
        activationSignature:
          description: User signature over the activation hash
          $ref: '#/components/schemas/PrimitiveSignature'
        nickname:
          type: string
          description: Nickname for the instruction
          example: "My cool instruction"
    GetInstructionDetailsResponse:
      type: object
      required: [salt, maxExecutions, action, lastExecutedUnix, lastInstructedValue, totalInstructedValue]
      properties:
        actionName:
          type: string
          enum: [refuelERC20, refuel, transfer, transferERC20, sweepDepositAccount, sweepDepositAccountERC20, uniswapV3ExactInput]
          description: Name of the action
          example: "sweepDepositAccountERC20"
        salt:
          type: string
          format: bytes
          description: Salt to ensure Instruction is unique
          example: "0x1df631942ef919"
        maxExecutions:
          type: string
          format: bytes
          description: Maximum number of times the Instruction can be executed
          example: "0x2"
        action:
          type: string
          format: address
          description: Action contract address
          example: "0x4aa3bce8f633d68cfc066f7b7db78443bcfe1b95"
        actionArguments:
          $ref: '#/components/schemas/ActionArguments'
          example: {
            "sweepDepositAccountERC20": {
              "token": "0xaa8e23fb1079ea71e0a56f48a2aa51851d8433d0",
              "depositor": "0x70997970c51812dc3a010c7d01b50e0d17dc79c8",
              "recipient": "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266",
              "threshold": "0x0",
              "fee": {
                "token": "0xaa8e23fb1079ea71e0a56f48a2aa51851d8433d0",
                "maxBaseFeePerGas": "0x0",
                "maxPriorityFeePerGas": "0x124f80",
                "executionFee": "0x186a0"
              }
            }
          }
        nickname:
          type: string
          description: Instruction nickname
          example: "My Instruction"
          nullable: true
        lastExecutedUnix:
          type: integer
          format: int64
          description: Unix timestamp of last execution
          example: 0
        lastInstructedValue:
          type: string
          format: bytes
          description: Last instructed value
          example: "0x0"
        totalInstructedValue:
          type: string
          format: bytes
          description: Total instructed value
          example: "0x0"
        instructedTokenAddress:
          type: string
          format: address
          description: Address of the instructed token
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
          nullable: true
        last_error_code:
          type: integer
          description: Error code from the last execution error
          example: 0
        last_error_message:
          type: string
          description: Error message from the last execution error
          example: "Insufficient funds"
          nullable: true
    StoredInstruction:
      type: object
      properties:
        action:
          type: string
          format: address
          description: Action contract address
          example: "0x4AA3Bce8f633d68CfC066f7B7DB78443BCFe1B95"
        arguments:
          type: string
          format: bytes
          description: Arguments to execute on the action contract
          example: "0x000000000000000000000000aa8e23fb1079ea71e0a56f48a2aa51851d8433d000000000000000000000000070997970c51812dc3a010c7d01b50e0d17dc79c8000000000000000000000000f39fd6e51aad88f6f4ce6ab8827279cfffb922660000000000000000000000000000000000000000000000000000000000000000000000000000000000000000aa8e23fb1079ea71e0a56f48a2aa51851d8433d000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000124f8000000000000000000000000000000000000000000000000000000000000186a0"
        executionState:
          type: object
          properties:
            executionCounter:
              type: integer
              format: uint64
              description: Number of times the instruction has been executed
              example: 0
            executionStatus:
              type: string
              enum: ["PendingActivation", "Active", "PendingDeactivation", "Deactivated", "Completed", "Errored"]
              example: "Deactivated"
            lastExecuted:
              type: integer
              format: int64
              description: Unix timestamp of when the instruction was last executed
              example: 0
        instructedTokenAddress:
          type: string
          format: address
          description: Address of the instructed token
          example: "0xaA8E23Fb1079EA71e0a56F48a2aA51851D8433D0"
        instructionId:
          type: string
          format: bytes32
          description: Unique identifier for the instruction
          example: "0xc73545bc9fa857226b7861a284760b99a0ada92f3ce17f5696fb044ae876da19"
        lastInstructedValue:
          type: string
          description: Last instructed value
          example: "0"
        maxExecutions:
          type: integer
          format: uint64
          description: Maximum number of times this instruction can be executed
          example: 2
        nickname:
          type: string
          description: Nickname for the instruction
          example: "test sweep 4"
        salt:
          type: integer
          format: uint64
          description: Salt to ensure instruction is unique
          example: 8433467124545817
        totalInstructedValue:
          type: string
          description: Total instructed value
          example: "0"
    StoredTransaction:
      type: object
      properties:
        createdAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the document was created
          example: 1716150000
        updatedAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the document was last updated
          example: 1716150000
        transactionHash:
          type: string
          format: bytes32
          description: Hash of the transaction
          example: "0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"
        chainId:
          type: integer
          format: uint64
          description: Chain ID of the transaction
          example: 11155111
        address:
          type: string
          format: address
          description: Address of the user
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        instructionId:
          type: string
          format: bytes32
          description: Instruction ID of the Instruction submitted in the transaction
          example: "0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"
        startedAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the transaction was started
          example: 1716150000
        finishedAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the transaction finished
          example: 1716150000
        startedAtBlock:
          type: integer
          format: uint64
          description: Block number when the transaction was started
          example: 1716150000
        finishedAtBlock:
          type: integer
          format: uint64
          description: Block number when the transaction finished
          example: 1716150000
        blockHash:
          type: string
          format: bytes32
          description: Hash of the block the transaction was included in
          example: "0x94fbe8788b93f18275955b725ddf5432f4d4d9a279d70e1c508bee558922e21a"
        activation:
          type: boolean
          description: True if the transaction was an Instruction activation
          example: true
        deactivation:
          type: boolean
          description: True if the transaction was an Instruction deactivation
          example: false
        transactionStatus:
          type: string
          enum: ["Pending", "InFlight", "Success", "Error"]
          example: "Success"
    GetInstructionSummariesRequest:
      type: object
      required:
        - address
        - chainId
        - instructionIds
        - from
        - to
        - sort
        - timeScale
      properties:
        address:
          type: string
          format: address
          description: Address of the user
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        chainId:
          type: integer
          format: int64
          description: "Chain ID"
          example: 11155111
        instructionIds:
          type: array
          items:
            type: string
            format: bytes32
          example: ["0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"]
        from:
          type: string
          format: date-time
          description: Start date and time in ISO 8601 format
          example: "2024-03-20T00:00:00Z"
        to:
          type: string
          format: date-time
          description: End date and time in ISO 8601 format
          example: "2024-03-21T00:00:00Z"
        skip:
          type: integer
          format: int64
          example: 0
        take:
          type: integer
          format: int64
          example: 10
        sort:
          type: string
          enum: ["asc", "dsc"]
          example: "asc"
        timeScale:
          type: string
          description: The time scale to group summaries by
          enum: ["seconds", "minutes", "hours", "days"]
          example: "days"
    GetInstructionSummariesResponse:
      type: array
      example: [
        [
          {
            "id": "550e8400-e29b-41d4-a716-446655440000",
            "date": "2024-03-20",
            "address": "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720",
            "chain_id": 11155111,
            "instruction_id": "0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"
          },
          [
            {
              "id": "550e8400-e29b-41d4-a716-446655440001",
              "day_summary_id": "550e8400-e29b-41d4-a716-446655440000",
              "activation": true,
              "block_latency": 1,
              "execution_time_unix": 1710936000
            },
            {
              "id": "550e8400-e29b-41d4-a716-446655440002",
              "day_summary_id": "550e8400-e29b-41d4-a716-446655440000",
              "activation": false,
              "block_latency": 2,
              "execution_time_unix": 1710939600
            }
          ]
        ],
        [
          {
            "id": "550e8400-e29b-41d4-a716-446655440003",
            "date": "2024-03-21",
            "address": "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720",
            "chain_id": 11155111,
            "instruction_id": "0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"
          },
          [
            {
              "id": "550e8400-e29b-41d4-a716-446655440004",
              "day_summary_id": "550e8400-e29b-41d4-a716-446655440003",
              "activation": false,
              "block_latency": 1,
              "execution_time_unix": 1711022400
            }
          ]
        ]
      ]
      description: "List of tuples, each containing a day summary and its executions: `[(StoredInstructionSummaryDay, [StoredExecutionSummary, StoredExecutionSummary, ...]), ...]`"
    AuthLoginResponse:
      type: object
      required:
        - authorization
      properties:
        authorization:
          type: string
          description: "JWT token for API authentication"
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
    GetDelegateAddressResponse:
      type: object
      required:
        - otimDelegateAddress
      properties:
        otimDelegateAddress:
          type: string
          format: address
          description: "Address of the OtimDelegate contract"
          example: "0x6eb81ea5bc15f4f4a2d79fa15a75a43c1ee17cd0"
    GetInstructionStorageAddressResponse:
      type: object
      required:
        - instructionStorageAddress
      properties:
        instructionStorageAddress:
          type: string
          format: address
          description: "Address of the InstructionStorage contract"
          example: "0x40f4f967e81e873ec3929abd9e0ceb9d3f4a28e3"
    GetDelegationStatusResponse:
      type: object
      required:
        - delegationStatus
      properties:
        delegationStatus:
          type: string
          enum: ["Undelegated", "Pending", "Delegated", "Expired", "Errored"]
          description: "Status of the delegation"
          example: "Delegated"
    NewInstructionResponse:
      type: object
      required:
        - instructionId
      properties:
        instructionId:
          type: string
          format: bytes32
          description: "Unique identifier for the created instruction"
          example: "0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"
    GetTransactionsRequest:
      type: object
      properties:
        address:
          type: string
          format: address
          description: Address of the user
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        instructionIds:
          type: array
          items:
            type: string
            format: bytes32
          example: ["0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"]
        from:
          type: string
          format: date-time
          example: "2021-01-01T00:00:00Z"
        to:
          type: string
          format: date-time
          example: "2021-01-01T00:00:00Z"
        skip:
          type: integer
          format: int64
          nullable: true
        take:
          type: integer
          format: int64
          nullable: true
        sort:
          type: string
          enum: ["Ascending", "Descending"]
          example: "Ascending"
    AuthLoginRequest:
      type: object
      required:
        - siwe
        - signature
      properties:
        siwe:
          type: string
          description: "SIWE message as a raw string"
          example: >-
            By signing in, you agree to the Terms and Conditions (https://otim.com/tac) and Privacy Policy (https://otim.com/pp).
            
            URI: https://otim.com
            Version: 1.0.0
            Chain ID: 1
            Nonce: 1728633600000
            Issued At: 2025-02-07T16:00:00.000Z
        signature:
          $ref: '#/components/schemas/PrimitiveSignature'
    GetDelegateAddressRequest:
      type: object
      required:
        - chainId
      properties:
        chainId:
          type: integer
          format: int64
          description: "Chain ID to get OtimDelegate address for"
          example: 11155111
    NewDelegationRequest:
      type: object
      required:
        - signedAuthorization
        - signerAddress
      properties:
        signedAuthorization:
          type: string
          description: "RLP-encoded 7702 signed authorization"
          example: "0x..."
        signerAddress:
          type: string
          format: address
          description: "Signer address to be able to verify signature correctness"
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
    GetDelegationStatusRequest:
      type: object
      required:
        - address
        - chainId
      properties:
        address:
          type: string
          format: address
          description: "Address of the user"
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        chainId:
          type: integer
          format: int64
          description: "Chain ID of the delegation"
          example: 11155111
    DeactivationRequest:
      type: object
      required:
        - address
        - chainId
        - deactivation
        - deactivationSignature
      properties:
        address:
          type: string
          format: address
          description: "Address of the user"
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        chainId:
          type: integer
          format: int64
          description: "Chain ID of the instruction"
          example: 11155111
        deactivation:
          $ref: '#/components/schemas/InstructionDeactivation'
        deactivationSignature:
          $ref: '#/components/schemas/PrimitiveSignature'
    GetInstructionDetailsRequest:
      type: object
      required:
        - address
        - chainId
        - instructionId
      properties:
        address:
          type: string
          format: address
          description: "Address of the user"
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        chainId:
          type: integer
          format: int64
          description: "Chain ID of the instruction"
          example: 11155111
        instructionId:
          type: string
          format: bytes32
          description: "Instruction ID"
          example: "0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"
    GetChainInstructionsRequest:
      type: object
      required:
        - address
        - chainId
      properties:
        address:
          type: string
          format: address
          description: "Address of the user"
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        chainId:
          type: integer
          format: int64
          description: "Chain ID to get instructions for"
          example: 11155111
    GetAllInstructionsRequest:
      type: object
      required:
        - address
      properties:
        address:
          type: string
          format: address
          description: "Address of the user"
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
    InstructionDeactivation:
      type: object
      required:
        - instructionId
      properties:
        instructionId:
          type: string
          format: bytes32
          description: "ID of instruction to deactivate"
          example: "0x97fbe0031494c55eb0e1d182988e110af02f5db3adb95065733e7dc8447581f9"
    GetPriorityFeeEstimatesResponse:
      type: object
      required: [slowMaxPriorityFeeEstimate, normalMaxPriorityFeeEstimate, fastMaxPriorityFeeEstimate]
      properties:
        slowMaxPriorityFeeEstimate:
          type: integer
          format: uint128
          description: Slow max priority fee estimate
          example: 1000000000
        normalMaxPriorityFeeEstimate:
          type: integer
          format: uint128
          description: Normal max priority fee estimate
          example: 2000000000
        fastMaxPriorityFeeEstimate:
          type: integer
          format: uint128
          description: Fast max priority fee estimate
          example: 3000000000
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication
