openapi: 3.1.0
info:
  title: Otim API
  description: The API docs for Otim
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://api.otim.com
    description: Production server
paths:
  /auth/login:
    post:
      description: Log in a user using SIWE
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - siwe
                - signature
              properties:
                siwe:
                  type: string
                  description: SIWE message
                  example: "Welcome to Otim! By signing in, you accept the Otim Terms and Conditions (https://otim.com/tac). This request will not trigger a blockchain transaction or cost any gas fees."
                signature:
                  type: string
                  description: Signature of the SIWE message
                  example: "0x..."
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorization:
                    type: string
                    description: JWT token for API authentication
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
  /auth/logout:
    post:
      description: Log out a user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties: {}
  /config/chains:
    get:
      description: Get list of supported chains
      responses:
        '200':
          description: Chain list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                    items:
                      type: object
                      properties:
                        chainId:
                          type: integer
                          format: int64
                          example: 11155111
                        chainName:
                          type: string
                          example: "sepolia"
  /config/delegate/address/{chainId}:
    get:
      description: Get delegate address for a specific chain in the supported chains list
      parameters:
        - name: chainId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            description: Chain ID
      responses:
        '200':
          description: Delegate address retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  otimDelegateAddress:
                    type: string
                    description: EVM address in hex format
                    example: "0x6eb81ea5bc15f4f4a2d79fa15a75a43c1ee17cd0"
  /config/instruction_storage/address/{chainId}:
    get:
      description: Get instruction Storage address for a specific chain in the supported chains list
      parameters:
        - name: chainId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            description: Chain ID
      responses:
        '200':
          description: Instruction Storage address retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  instructionStorageAddress:
                    type: string
                    description: EVM address in hex format
                    example: "0x40f4f967e81e873ec3929abd9e0ceb9d3f4a28e3"

  /config/tokens/{chainId}:
    get:
      description: Get list of supported tokens for a specific chain in the supported chains list
      parameters:
        - name: chainId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            description: Chain ID
      responses:
        '200':
          description: Token list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          description: EVM address in hex format
                          example: "0x1c7d4b196cb0c7b01d743fbc6116a902379c7238"
                        symbol:
                          type: string
                          description: Token symbol
                          example: "USDC"
                    example: [
                      {
                        "address": "0x1c7d4b196cb0c7b01d743fbc6116a902379c7238",
                        "symbol": "USDC"
                      },
                      {
                        "address": "0x0000000000000000000000000000000000000000",
                        "symbol": "ETH"
                      }
                    ]
  /delegation/new:
    post:
      description: Create a new delegation to Otim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - signedAuthorization
                - signerAddress
              properties:
                signedAuthorization:
                  type: string
                  description: "Signed RLP-encoded [EIP-7702](https://eips.ethereum.org/EIPS/eip-7702) authorization: `keccak(MAGIC || rlp([chain_id, address, nonce]))`"
                  example: "0x..."
                signerAddress:
                  type: string
                  description: Address of the signer who signed the `signedAuthorization`
                  example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
      responses:
        '201':
          description: Delegation created successfully
  /delegation/status:
    get:
      description: Get Otim delegation status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - address
                - chainId
              properties:
                address:
                  type: string
                  description: Address to check delegation status
                  example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
                chainId:
                  type: integer
                  format: int64
                  description: Chain ID
                  example: 11155111
      responses:
        '200':
          description: Delegation status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  delegationStatus:
                    type: string
                    description: |
                      Options: `Undelegated`, `Pending`, `Delegated`, `Expired`, `Errored`
                    example: "Delegated"
  /instruction/build:
    post:
      description: Build an Otim instruction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildInstructionRequest'
      responses:
        '200':
          description: Instruction built successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildInstructionResponse'
  /instruction/new:
    post:
      description: Activate a built Otim instruction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewInstructionRequest'
      responses:
        '201':
          description: Instruction created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  instructionId:
                    type: string
                    format: bytes32
                    example: "0x..."
  /instruction/deactivate:
    post:
      description: Deactivate an instruction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  format: address
                  description: Address of the user
                  example: "0x..."
                chainId:
                  type: integer
                  format: int64
                  description: Chain ID of the instruction
                deactivation:
                  type: string
                  format: bytes32
                  description: Instruction ID of the instruction to deactivate
                  example: "0x..."
                deactivationSignature:
                  type: string
                  description: User signature over the deactivation hash
                  $ref: '#/components/schemas/PrimitiveSignature'
      responses:
        '200':
          description: Instruction deactivated successfully
  /instruction/details:
    get:
      description: Get details about an instruction by its ID
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  format: address
                  description: Address of the user
                  example: "0x..."
                chainId:
                  type: integer
                  format: int64
                  description: Chain ID of the instruction
                instructionId:
                  type: string
                  format: bytes32
                  description: Instruction ID
                  example: "0x..."
      responses:
        '200':
          description: Instruction details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstructionDetailsResponse'
  /instructions/all:
    get:
      description: Get all instructions and their details for a user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - address
              properties:
                address:
                  type: string
                  format: address
                  description: Address of the user
                  example: "0x..."
      responses:
        '200':
          description: Instructions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoredInstruction'
  /instructions/chain:
    get:
      description: Get instructions for a user specific chain by user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - address
                - chainId
              properties:
                address:
                  type: string
                  format: address
                  description: Address of the user
                  example: "0x..."
                chainId:
                  type: integer
                  format: int64
                  description: Chain ID to get instructions for
      responses:
        '200':
          description: Chain instructions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoredInstruction'
  /instructions/summary:
    get:
      description: Get instruction execution summaries for a list of instructions
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetInstructionSummariesRequest'
      responses:
        '200':
          description: Instruction summaries retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstructionSummariesResponse'
  /transactions:
    get:
      description: Get transactions for a user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTransactionsRequest'
      responses:
        '200':
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StoredTransaction'

components:
  schemas:
    TokenERC20:
      type: string
      description: Available tokens to use
      example: "USDC"
    TokenFee:
      type: string
      description: Available fee tokens to use
      enum:
        - ETH
        - USDC
      example: "ETH"
    OtimFee:
      type: object
      required:
        - value
        - token
      properties:
        value:
          type: integer
          format: uint256
          description: Fee value in token decimals
          example: 1000000000000000000
        token:
          $ref: '#/components/schemas/TokenFee'
    IntervalSchedule:
      type: object
      required:
        - startAt
        - startBy
        - interval
        - timeout
      properties:
        startAt:
          type: integer
          format: uint256
          description: Unix timestamp to activate the action
          example: 1716150000
        startBy:
          type: integer
          format: uint256
          description: Unix timestamp by which the action must be activated
          example: 1716150000
        interval:
          type: integer
          format: uint256
          description: Interval between action executions (in seconds)
          example: 3600
        timeout:
          type: integer
          format: uint256
          description: Timeout after which the execution is not valid (in seconds)
          example: 3600
    ActionArguments:
      type: object
      oneOf:
        - title: RefuelERC20
          type: object
          required:
            - refuelERC20
          properties:
            refuelERC20:
              type: object
              required:
                - token
                - target
                - threshold
                - endBalance
                - fee
              properties:
                token:
                  $ref: '#/components/schemas/TokenERC20'
                target:
                  type: string
                  format: address
                  description: Address of the refuel recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                threshold:
                  type: integer
                  format: uint256
                  description: Balance threshold that triggers refuel (in token decimals)
                  example: 1000000000000000000
                endBalance:
                  type: integer
                  format: uint256
                  description: Target balance after refuel (in token decimals)
                  example: 5000000000000000000
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: Refuel
          type: object
          required:
            - refuel
          properties:
            refuel:
              type: object
              required:
                - target
                - threshold
                - endBalance
                - fee
              properties:
                target:
                  type: string
                  format: address
                  description: Address of the refuel recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                threshold:
                  type: integer
                  format: uint256
                  description: Balance threshold that triggers refuel (in wei)
                  example: 1000000000000000000
                endBalance:
                  type: integer
                  format: uint256
                  description: Target balance after refuel (in wei)
                  example: 5000000000000000000
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: TransferERC20
          type: object
          required:
            - transferERC20
          properties:
            transferERC20:
              type: object
              required:
                - token
                - target
                - value
                - schedule
                - fee
              properties:
                token:
                  $ref: '#/components/schemas/TokenERC20'
                target:
                  type: string
                  format: address
                  description: Address of the transfer recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                value:
                  type: integer
                  format: uint256
                  description: Amount to transfer (in token decimals)
                schedule:
                  $ref: '#/components/schemas/IntervalSchedule'
                fee:
                  $ref: '#/components/schemas/OtimFee'
        - title: Transfer
          type: object
          required:
            - transfer
          properties:
            transfer:
              type: object
              required:
                - target
                - value
                - schedule
                - fee
              properties:
                target:
                  type: string
                  format: address
                  description: Address of the transfer recipient
                  example: "0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"
                value:
                  type: integer
                  format: uint256
                  description: Amount to transfer (in wei)
                  example: 1000000000000000000
                schedule:
                  $ref: '#/components/schemas/IntervalSchedule'
                fee:
                  $ref: '#/components/schemas/OtimFee'
      discriminator:
        propertyName: type
        mapping:
          refuelERC20: '#/components/schemas/ActionArguments/oneOf/0'
          refuel: '#/components/schemas/ActionArguments/oneOf/1'
          transferERC20: '#/components/schemas/ActionArguments/oneOf/2'
          transfer: '#/components/schemas/ActionArguments/oneOf/3'
    PrimitiveSignature:
      type: object
      properties:
        yParity:
          type: number
          description: Y parity of the signature
          enum: [0, 1]
        r:
          type: string
          format: bytes
          description: R of the signature
          example: "0x..."
        s:
          type: string
          format: bytes
          description: S of the signature
          example: "0x..."
    StoredSignature:
      type: object
      properties:
        v:
          type: number
          description: V of the signature
          enum: [27, 28]
        r:
          type: string
          format: bytes
          description: R of the signature
          example: "0x..."
        s:
          type: string
          format: bytes
          description: S of the signature
          example: "0x..."
    Instruction:
      type: object
      properties:
        salt:
          type: integer
          format: uint64
          description: Salt to ensure instruction is unique
          example: 1234567890
        maxExecutions:
          type: integer
          format: uint64
          description: Maximum number of times this instruction can be executed (`0` for unlimited)
          example: 10
        action:
          type: string
          format: address
          description: Action contract address
          example: "0x838c90f3e8d4892dCfA67721CbbA7C86D3C059ef"
        arguments:
          type: string
          format: bytes
          description: Arguments to execute on the action contract
          example: "0x0000000000000000000000001c7d4b196cb0c7b01d743fbc6116a902379c72380000000000000000000000000a0Ee7A142d267C1f36714E4a8F75612F20a79720000000000000000000000000a0Ee7A142d267C1f36714E4a8F75612F20a79720000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
    BuildInstructionRequest:
      type: object
      required:
        - address
        - chainId
        - salt
        - maxExecutions
        - action
        - actionArguments
      properties:
        address:
          type: string
          format: address
          description: Address of the user
          example: "0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"
        chainId:
          type: integer
          format: uint64
          description: Chain ID
          example: 11155111
        salt:
          type: integer
          format: uint64
          description: Salt to ensure instruction is unique
          example: 1234567890
        maxExecutions:
          type: integer
          format: uint64
          description: Maximum number of times this instruction can be executed (`0` for unlimited)
          example: 10
        actionArguments:
          $ref: '#/components/schemas/ActionArguments'
    BuildInstructionResponse:
      $ref: '#/components/schemas/Instruction'
    NewInstructionRequest:
      type: object
      required:
        - address
        - chainId
        - salt
        - maxExecutions
        - action
        - arguments
        - activationSignature
      properties:
        address:
          type: string
          format: address
          description: Address of the user
          example: "0x..."
        chainId:
          type: integer
          format: uint64
          description: Chain ID
        salt:
          type: integer
          format: uint64
          description: Salt to ensure instruction is unique
        maxExecutions:
          type: integer
          format: uint64
          description: Maximum number of times this instruction can be executed (`0` for unlimited)
        action:
          type: string
          format: address
          description: Action contract address
          example: "0x..."
        arguments:
          type: string
          format: bytes
          description: Arguments to execute on the action contract
          example: "0x..."
        activationSignature:
          description: User signature over the activation hash
          $ref: '#/components/schemas/PrimitiveSignature'
        nickname:
          type: string
          description: Nickname for the instruction
          example: "My cool instruction"
    GetInstructionDetailsResponse:
      type: object
      properties:
        actionName:
          type: string
          description: Name of the action
          example: "Refuel"
        salt:
          type: integer
          format: uint64
          description: Salt to ensure instruction is unique
        maxExecutions:
          type: integer
          format: uint64
          description: Maximum number of times this instruction can be executed (`0` for unlimited)
        action:
          type: string
          format: address
          description: Action contract address
          example: "0x..."
        arguments:
          type: string
          format: bytes
          description: Arguments to execute on the action contract
          example: "0x..."
        nickname:
          type: string
          description: Nickname for the instruction
          example: "My cool instruction"
    StoredInstruction:
      type: object
      properties:
        createdAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the instruction was created
        updatedAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the instruction was last updated
        address:
          type: string
          description: Address of the user
          example: "0x..."
        chainId:
          type: integer
          format: int64
          description: Chain ID for the instruction
        instruction:
          $ref: '#/components/schemas/Instruction'
        instructionId:
          type: string
          format: bytes32
          description: Unique identifier for the instruction
          example: "0x..."
        activationSignature:
          $ref: '#/components/schemas/StoredSignature'
        deactivationSignature:
          type: object
          nullable: true
          $ref: '#/components/schemas/StoredSignature'
        executionStatus:
          type: string
          enum: [PendingActivation, Active, PendingDeactivation, Deactivated, Completed, Errored]
        executionCounter:
          type: integer
          format: uint64
          description: Number of times the instruction has been executed
        lastExecutedUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the instruction was last executed
        nextExecutionUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the instruction will be executed next (`lastExecutedUnix + interval`)
        nickname:
          type: string
          nullable: true
          description: Nickname for the instruction
          example: "My cool instruction"
    StoredTransaction:
      type: object
      properties:
        createdAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the document was created
        updatedAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the document was last updated
        transactionHash:
          type: string
          format: bytes32
          description: Hash of the transaction
          example: "0x..."
        chainId:
          type: integer
          format: uint64
          description: Chain ID of the transaction
        address:
          type: string
          format: address
          description: Address of the user
          example: "0x..."
        instructionId:
          type: string
          format: bytes32
          description: Instruction ID of the Instruction submitted in the transaction
          example: "0x..."
        startedAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the transaction was started
        finishedAtUnix:
          type: integer
          format: int64
          description: Unix timestamp of when the transaction finished
        startedAtBlock:
          type: integer
          format: uint64
          description: Block number when the transaction was started
        finishedAtBlock:
          type: integer
          format: uint64
          description: Block number when the transaction finished
        blockHash:
          type: string
          format: bytes32
          description: Hash of the block the transaction was included in
          example: "0x..."
        activation:
          type: boolean
          description: True if the transaction was an Instruction activation
        deactivation:
          type: boolean
          description: True if the transaction was an Instruction deactivation
        transactionStatus:
          type: string
          enum: [Pending, InFlight, Success, Error]
    GetInstructionSummariesRequest:
      type: object
      required:
        - address
        - instructionIds
        - from
        - to
        - skip
        - take
        - sort
        - timeScale
      properties:
        address:
          type: string
          format: address
          description: Address of the user
          example: "0x..."
        instructionIds:
          type: array
          items:
            type: string
            format: bytes32
          example: ["0x...", "0x..."]
        from:
          type: string
          format: date-time
          example: "2021-01-01T00:00:00Z"
        to:
          type: string
          format: date-time
          example: "2021-01-01T00:00:00Z"
        skip:
          type: integer
          format: int64
        take:
          type: integer
          format: int64
        sort:
          type: string
          enum: [Ascending, Descending]
        timeScale:
          type: string
          description: The time scale to group summaries by
          enum: [seconds, minutes, hours, days]
    GetInstructionSummariesResponse:
      type: array
      example: [
        [
          {
            "id": "550e8400-e29b-41d4-a716-446655440000",
            "date": "2024-03-20",
            "address": "0x1234...",
            "chain_id": 1,
            "instruction_id": "0xabcd..."
          },
          [
            {
              "id": "550e8400-e29b-41d4-a716-446655440001",
              "day_summary_id": "550e8400-e29b-41d4-a716-446655440000",
              "activation": true,
              "block_latency": 1,
              "execution_time_unix": 1710936000
            },
            {
              "id": "550e8400-e29b-41d4-a716-446655440002",
              "day_summary_id": "550e8400-e29b-41d4-a716-446655440000",
              "activation": false,
              "block_latency": 2,
              "execution_time_unix": 1710939600
            }
          ]
        ],
        [
          {
            "id": "550e8400-e29b-41d4-a716-446655440003",
            "date": "2024-03-21",
            "address": "0x1234...",
            "chain_id": 1,
            "instruction_id": "0xabcd..."
          },
          [
            {
              "id": "550e8400-e29b-41d4-a716-446655440004",
              "day_summary_id": "550e8400-e29b-41d4-a716-446655440003",
              "activation": false,
              "block_latency": 1,
              "execution_time_unix": 1711022400
            }
          ]
        ]
      ]
      description: "List of tuples, each containing a day summary and its executions: `[(StoredInstructionSummaryDay, [StoredExecutionSummary, StoredExecutionSummary, ...]), ...]`"
    GetTransactionsRequest:
      type: object
      properties:
        address:
          type: string
          format: address
          description: Address of the user
          example: "0x..."
        instructionIds:
          type: array
          items:
            type: string
            format: bytes32
          example: ["0x...", "0x..."]
        from:
          type: string
          format: date-time
          example: "2021-01-01T00:00:00Z"
        to:
          type: string
          format: date-time
          example: "2021-01-01T00:00:00Z"
        skip:
          type: integer
          format: int64
          nullable: true
        take:
          type: integer
          format: int64
          nullable: true
        sort:
          type: string
          enum: [Ascending, Descending]

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication 