openapi: 3.1.0
info:
  title: Otim API
  description: The API docs for Otim
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://api.otim.com
    description: Production server
paths:
  /auth/login:
    post:
      description: Log in a user using SIWE
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - siwe
                - signature
              properties:
                siwe:
                  type: string
                  description: SIWE message
                  example: "Hello world"
                signature:
                  type: string
                  description: Signature of the SIWE message
                  example: "0x1234..."
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorization:
                    type: string
                    description: JWT token for API authentication
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
  /auth/logout:
    post:
      description: Log out a user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication 