---
title: "Deployed Addresses"
sidebarTitle: "Deployed Addresses"
---
<Tabs>
  <Tab title="[NETWORK]">
    ## Core Contracts
    
    | Name | Address |
    | :--- | :--- |
    | `[ContractName]` | **[ADDRESS]** |

    ## Action Contracts

    <Tabs>
      <Tab title="[CHAIN_NAME]">
        | Name | Address |
        | :--- | :--- |
        | `[ContractName]` | **[ADDRESS]** |
      </Tab>
      <!-- Repeat <Tab> for each chain -->
    </Tabs>
    
  </Tab>
  <!-- Repeat <Tab> for both Mainnet and Testnet -->
</Tabs>
