---
title: "Deployed Addresses"
sidebarTitle: "Deployed Addresses"
---

<Tabs>
  <Tab title="[NETWORK]">
    <Tabs>
      <Tab title="[CHAIN_NAME]">
        ## Core Contracts
        
        | Name | Address |
        | :--- | :--- |
        | `[ContractName]` | **[ADDRESS](https://[EXPLORER_URL]/address/ADDRESS)** |

        ## Action Contracts
        
        | Name | Address |
        | :--- | :--- |
        | `[ContractName]` | **[ADDRESS](https://[EXPLORER_URL]/address/ADDRESS)** |
      </Tab>
      <!-- Repeat <Tab> for each chain -->
    </Tabs>
  </Tab>
  <!-- Repeat <Tab> for each network -->
</Tabs>
